<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cooklet_victor_work">

    <application
        android:name=".Notification"
        android:allowBackup="true"
        android:icon="@drawable/cooklet_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cooklet_round_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:theme="@style/Theme.Cooklet"
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:theme="@style/Theme.Cooklet"
            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FinishActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".Instruction"
            android:exported="false" />
        <activity
            android:name=".IntroductionActivity"
            android:exported="false" />
        <activity
            android:name=".PreparationActivity"
            android:exported="false"/>
    </application>

</manifest>